<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>Factura {{serie}}-{{numero}}</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      font-size: 10px;
      margin: 0;
      width: 260px;
      /* ancho típico de ticket 58/80mm */
      padding: 6mm 5mm 8mm 5mm;
      /* top - right - bottom - left */
    }

    .header,
    .footer {
      text-align: center;
    }

    .logo img {
      max-width: 80px;
      margin-bottom: 5px;
    }

    .company-info {
      text-align: center;
      font-size: 9px;
      margin-bottom: 5px;
    }

    .company-info p {
      margin: 2px 0;
    }

    .title {
      text-align: center;
      font-size: 11px;
      font-weight: bold;
      border-top: 1px dashed #000;
      border-bottom: 1px dashed #000;
      margin: 5px 0;
      padding: 3px 0;
    }

    .info {
      font-size: 9px;
      margin-bottom: 5px;
    }

    .info p {
      margin: 2px 0;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 9px;
    }

    table th,
    table td {
      padding: 2px;
      text-align: left;
    }

    table th {
      border-bottom: 1px dashed #000;
      font-size: 9px;
      font-weight: bold;
    }

    .totales {
      margin-top: 5px;
      font-size: 9px;
      width: 100%;
    }

    .totales td {
      padding: 2px;
    }

    .importe-letras {
      margin-top: 5px;
      font-size: 9px;
      font-weight: bold;
    }

    .qr {
      margin-top: 10px;
      text-align: center;
    }

    .qr img {
      width: 90px;
      height: 90px;
    }

    .separator {
      border-top: 1px dashed #000;
      margin: 5px 0;
    }

    .condiciones {
      margin-top: 15px;
      font-size: 9px;
    }

    .direccion {
      white-space: normal;
      /* permite salto de línea */
      word-wrap: break-word;
      /* fuerza salto si es muy largo */
      overflow-wrap: break-word;
      max-width: 70mm;
      /* ancho máximo para que se ajuste al ticket */
      display: block;
    }
        .footer a { color: black; font-weight: bolder; text-decoration: none; cursor: pointer; }
  </style>
</head>

<body>

  <!-- ENCABEZADO -->
  <div class="header">
    <div class="logo">
      <img src="{{logo}}" alt="Logo" />
    </div>
    <div class="company-info">
      <p><strong>{{empresa}}</strong></p>
      <p><strong>RUC:</strong> {{rucEmpresa}}</p>
      <p class="direccion">{{direccionEmpresa}}</p>
      <p><strong>Central telefónica:</strong> {{telefonoEmpresa}}</p>
      <p><strong>Correo:</strong> {{emailEmpresa}}</p>
    </div>
  </div>

  <!-- TÍTULO -->
  <div class="title">
    {{titleComprobante}}<br />
    {{serie}}
  </div>

  <!-- INFORMACIÓN CLIENTE -->
  <div class="info">
    <p><strong>F. Emisión:</strong> {{fechaEmision}} {{horaEmision}}</p>
    <p><strong>F. Vencimiento:</strong> {{fechaVencimiento}}</p>
    <p><strong>Cliente:</strong> {{cliente}}</p>
    <p><strong>{{tipoDocLabel}}:</strong> {{numeroDocumento}}</p>
    <p class="direccion"><strong>Dirección:</strong> {{direccionCliente}}</p>
  </div>

  <div class="separator"></div>

  <!-- TABLA DE DETALLES -->
  <table>
    <thead>
      <tr>
        <th>Cant</th>
        <th>Desc</th>
        <th style="text-align:right">P.Unit</th>
        <th style="text-align:right">Total</th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
      <tr>
        <td>{{cantidad}}</td>
        <td>{{descripcion}}</td>
        <td style="text-align:right">{{pUnit}}</td>
        <td style="text-align:right">{{total}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="separator"></div>

  <!-- TOTALES -->
  <table class="totales">
    {{#gt opGravadas 0}}
    <tr>
      <td style="text-align:right; width:70%">
        <strong>OP. GRAVADAS:</strong>
      </td>
      <td style="text-align:right">S/ {{opGravadas}}</td>
    </tr>
    {{/gt}}

    {{#gt opExoneradas 0}}
    <tr>
      <td style="text-align:right; width:70%">
        <strong>OP. EXONERADAS:</strong>
      </td>
      <td style="text-align:right">S/ {{opExoneradas}}</td>
    </tr>
    {{/gt}}

    {{#gt opInafectas 0}}
    <tr>
      <td style="text-align:right; width:70%">
        <strong>OP. INAFECTAS:</strong>
      </td>
      <td style="text-align:right">S/ {{opInafectas}}</td>
    </tr>
    {{/gt}}
    <tr>
      <td style="text-align:right"><strong>IGV:</strong></td>
      <td style="text-align:right">S/ {{igv}}</td>
    </tr>
    <tr>
      <td style="text-align:right"><strong>TOTAL:</strong></td>
      <td style="text-align:right"><strong>S/ {{total}}</strong></td>
    </tr>
  </table>

  <!-- IMPORTE EN LETRAS -->
  <div class="importe-letras">
    <p>Son: {{montoLetras}}</p>
  </div>

  <!-- QR -->
  <div class="qr">
    <img src="{{qrPath}}" alt="QR Code" />
    <p>Código Hash: {{hash}}</p>
  </div>
  <!-- Condición de pago -->
  <div class="condiciones">
    {{!-- <p><b>CONDICIÓN DE PAGO:</b> {{condicionPago}}</p>
    <p><b>PAGOS:</b></p>
    <p>• {{medioPago}} - S/ {{total}}</p> --}}
    <p><b>Vendedor:</b> {{vendedor}}</p>
  </div>

  <div class="footer">
    <p><strong>¡Gracias por su compra!</strong></p>
    <u ></u>
    <p ></p>
    <a href="{{urlConsulta}}" target="_blank">Para consultar el comprobante ingresar a {{urlConsulta}}</a>

  </div>

</body>

</html>